<div style="font-size: 18px; padding-bottom: 15px">The details about this task are available <a href="/ps1/report/ps1_divide_by_zero.pdf">here</a>.</div>

<%= link_to 'Divide by zero', divide_by_zero_path %>
