<div style="font-size: 18px; padding-bottom: 15px">The details about this task are available <a href="/report/ps1_divide_by_zero.pdf">here</a>.</div>

<%= link_to 'Divide by zero', '/divide-by-zero' %>
