<h2>Problem Set 1</h2>
<br>
<div style="font-size: 18px; padding-bottom: 15px">The details of this project are available <a href="/ps1/report/ps1.pdf">here</a>.</div>
<div class="pgLinks">1.<%= link_to "Youtube Top Trends", youtube_trends_path %></div>
<div class="pgLinks">2. <%= link_to "About to divide by zero", '/about-to-divide-by-zero' %></div>
